.archiveNav{width:200px;clear:both}
.date{background:#eee;border:1px solid #ddd;width:520px;border-width:1px 0;margin:2px 0 5px;padding:2px 5px;font-size:90%;}
.post{margin:10px 0;font-size: 95%;}
.post h3{font-size:120%;line-height:120%}
.storycontent{float:none;width:530px}
.storycontent p{width:525px}
