.optional{padding-bottom:12px;margin-bottom:12px;border-bottom: 1px solid #222;}
textarea{margin-top: 5px;width: 520px;height: 50px;}
.entry h3, #feedback-submit-wrap{background: #ddd;border: 1px solid #666;border-width: 1px 0;margin:15px 0 5px 0;font-size: 120%;padding: 5px;}
#feedback-submit-wrap{text-align:center;}
#feedback-submit{width: 10em;font-size: large;}
.entry input{width: 20em;}
#feedback-visiting-from {align:right;}
