#content{position:relative;align:center;width:100%;text-align:center;padding:0;}
#desc{width:500px;margin:0 auto;padding:5px;}
#desc p{text-align:left;}
#meta{background:#f1f1f1;font-size:80%;color:#111;border:1px solid #ccc;width:500px;border-width:1px 0;margin:0 auto 20px;padding:2px 0;}
#next{left:655px;}
#photo{text-align:center;width:500px;margin:0 auto;}
#photo p img{border:2px solid #ccc;padding:5px;}
#prev{left:30px;}
#prev a,#next a{font-weight:bold;font:bold 90% Trebuchet MS;color:#444;letter-spacing:1px;}
#prev p,#next p{padding:0;}
#prev,#next{position:absolute;top:10px;width:90px;border:2px solid #ccc;background:#eee;padding:5px;}
.end-of-message{display:none;}
.slides{text-align:center;}
.slides img{margin-bottom:3px;border:1px solid #ddd;}

#content table {
width:500px;
margin:0 auto 10px auto;
text-align:left;
}
