h3{font:bold 120%/105% "Trebuchet MS", Arial, Helvetica, sans-serif;margin-bottom:2px;}
#archiveLink,#archiveLink:visited{margin-top:10px;float:right;color:#333;padding-left:8px;background:url(../images/pointer_small.gif) 0 5px no-repeat;}
#archiveLink,.archiveSubLink{font:900 80%/16px Verdana, Arial, Helvetica, sans-serif;}
#archiveLink:hover{color:#ff4a00;background:url(../images/pointer_small.gif) 3px 5px no-repeat;}
#audio,#multimedia,#op-eds,#video{margin-top:20px;}
#audio h2 a,#audio h2 a:hover{background:url(../images/bg_podcast.gif) left center no-repeat;padding-left:23px;}
#multimedia h2 a,#multimedia h2 a:hover{background:url(../images/bg_media_package.gif) left center no-repeat;padding-left:23px;}
#video h2 a,#video h2 a:hover{background:url(../images/bg_video.gif) left center no-repeat;padding-left:23px;}
#audio li,#multimedia li,#op-eds li,#video li{padding:2px 5px;}
#audio p,#multimedia p,#op-eds p,#video p{margin:0;}
#audio span,#multimedia span,#op-eds span,#video span{line-height:130%;}
#audio ul,#multimedia ul,#op-eds ul,#video ul{margin:5px 0;width:190px;}
#headline0{margin-right:20px;}
#headline0 li,#headline1 li{width:205px;margin:0 10px 10px;}
#headline0,#headline1{background:#eee;width:225px;}
#headline0/**/,#headline1/**/{float:left;}
#main{margin-bottom:20px;width:480px;float:left;}
#sidebar,#headline0,#headline1,.date{font-size:90%;}
#snapshot h2 a,#snapshot h2 a:hover{background:url(../images/bg_snapshot.gif) center left no-repeat;padding-left:30px;display:block;}
#snapshot img{border:1px solid #888;margin:5px 0;padding:5px;}
#subscribe{background:url(../images/bg_subscribe_bottom.gif) bottom left no-repeat;font-size:105%;color:#333;position:relative;}
#subscribe h2 a{background:url(../images/bg_subscribe_top.gif) top left no-repeat;padding:3px 0 2px 38px;display:block;color:#333;font-size:80%;width:180px;height:18px;}
#subscribe p{margin:2px 5px;font-size:80%;}
#subscribe-email,#subscribe-feeds{display:none;}
#subscribe-email-link,#subscribe-feeds-link{display:block;width:94px;font-size:90%;text-align:center;padding:3px 1px;border-left:1px solid #ddd;}
#subscribe-email-result{background:#b9dcf4;width:182px;margin:0 2px 5px;padding:5px;color:#111;}
#subscribe-email-result-loading{background:url(../images/loading.gif) top center no-repeat;font-size:200%;text-align:center;padding:20px 5px 5px;}
#subscribe-email-subscribe{margin-left:10px;}
#subscribe-email-subscribe,#subscribe-email-unsubscribe{margin-bottom:10px;width:81px;}
#subscribe-feeds{margin:5px 0 15px 25px;list-style-type:disc;}
#subscribe-feeds a{padding-left:40px;background:#f1f1f1 url(../images/rss.gif) left center no-repeat;font-size:90%;width:9em;display:block;height:16px;}
#subscribe-feeds a:hover{color:#ff4a00;}
#subscribe-feeds li{margin:5px 0;}
#subscribe-feeds li a{width:110px;}
#subscribe-feeds ul{margin-left:5px;list-style-type:circle;}
#subscribe-feeds ul li a{width:97px;}
#subscribe-feeds ul ul{list-style-type:square;}
#subscribe-feeds ul ul li a{width:85px;}
#subscribe-feeds ul,#subscribe-feeds ul ul{padding-left:7px;}
#subscribe-feeds-link{position:absolute;top:23px;left:96px;}
#subscribe-feeds-link acronym{border:0;}
#upcomingEvents{margin-top:20px;}
#upcomingEvents h2 a,#upcomingEvents h2 a:hover{background:url(../images/bg_upcomingEvents.gif) center left no-repeat;padding:3px 0 3px 22px;display:block;}
#upcomingEvents li{padding:0 15px 20px 0;}
#upcomingEvents ul{margin-top:5px;}
#weather ul{height:70px;position:relative;}
.archiveSubLink{background:#4159BB url(../images/subFoot.gif) bottom left no-repeat;width:225px;height:15px;}
.archiveSubLink a,.archiveSubLink a:visited{color:#fff;display:block;text-align:right;background:url(../images/pointer_smallwhite.gif) 157px 5px no-repeat;padding-right:18px;}
.archiveSubLink a:hover{color:#fff;background-position:159px 5px;}
.archives li a{background:url(../images/pointer_small.gif) center left no-repeat;padding-left:8px;}
.archives ul{background:#eee url(../images/bg_sidebar_bottom.gif) bottom no-repeat;padding:3px 0 20px 15px;}
.date{background:#e6e6e6 url(../images/bg_date.gif) bottom right no-repeat;border-top:5px solid #bebebe;color:#666;float:left;font:14px/13px Georgia, serif;letter-spacing:1px;margin:3px 11px 0 0;padding:2px 0 8px;text-align:center;text-transform:uppercase;width:45px;}
.date span{font:200%/25px Times New Roman, serif;float:left;padding:0 0 0 8px;}
.datesml{letter-spacing:1px;}
.datesml,#audio span,#multimedia span,#op-eds span,#video span{text-transform:uppercase;color:#111;float:left;background:url(../images/pointer_small.gif) center right no-repeat;font:100%/100% Arial, Trebuchet MS, Helvetica, sans-serif;margin-right:5px;padding-right:8px;}
.high{top:0;left:110px;background:url(../images/bg_temp_hi.gif) center right no-repeat;padding:4px 16px 0 0;}
.low{top:18px;left:110px;background:url(../images/bg_temp_lo.gif) center right no-repeat;padding:0 19px 4px 0;}
.post{margin:10px 20px 4px 0;}
.post a:hover .date{border-color:#aaa;color:#333;}
.required,.optional{margin-bottom:5px;padding:3px 15px;}
.main{border-bottom:2px solid #4159BB;width:480px;}
.skies{top:0;left:0;}
.skies,.temperature,.high,.low,.weathertime{position:absolute;}
.storycontent{float:right;width:423px;font-size:95%;}
* html .storycontent{padding-left:3px;width:420px;}
.subscribe-tab-off{background:#ccc;}
.subtab{background:#4159BB url(../images/subHead.gif) top left no-repeat;border-bottom:2px solid #4159BB;width:225px;margin-bottom:7px;padding:2px 0 0;}
.subtab h2{color:#fff;padding-left:9px;letter-spacing:1px;}
.tab{height:2em;}
.tab h2{color:#fff;float:left;background:#4159BB url(../images/tab.gif) top left no-repeat;height:1.3em;width:6em;padding:3px 0 0 9px;letter-spacing:1px;}
.temperature{left:45px;font:220% Georgia, "Times New Roman", Times, serif;}
.weathertime{top:38px;left:0;}
.weathertime,.help{padding:1px 5px;font-size:80%;background:#efefef;border:1px solid #ccc;border-width:1px 0;width:185px;}
