#content h2{margin-right:10px;font-size:150%;}
#content h3{font-weight:bold;font-size:135%;}
#content h4{font-size:120%;color:#333;margin:10px 0 -5px;}
#content p,.credits{padding:7px 0;}
#content ul{margin-left:45px;list-style-type:disc;}
#podcastFeed{background:#eee url(../images/rss.gif) left center no-repeat;padding:0 5px 0 40px;}
#sidebar{width:200px;padding:20px 20px 0 0;}
#sidebar li{padding-top:2px;margin:3px 0;}
#sidebar ul ul{margin-left:10px;}
.archives h2{background:#7d7d7d url(../images/bg_sidebar_top.gif) no-repeat;font-size:105%;color:#fff;padding:4px 5px 3px;}
.archives li a{background:url(../images/pointer_small.gif) center left no-repeat;padding-left:8px;}
.archives ul{background:#eee url(../images/bg_sidebar_bottom.gif) bottom no-repeat;padding:3px 0 20px 15px;}
.archives ul ul{background:none;padding:0 0 0 5px;}
.archives,#postimages{width:150px;font-size:90%;margin:0 0 20px 30px;}
.post h2,.post h3{color:#000;}
.required{float:left;margin-right:15px;}
.required,.optional{font-size:100%;margin-bottom:5px;padding:3px;}


#content ul#media-package {
list-style-type:none;
margin:0;
}

#content ul#media-package li {
padding-left:20px;
margin-bottom:10px;
}

#content ul#media-package a {
border:none;
width:260px;
}

#content ul#media-package a .summary {
font-size:1.2em;
margin-left:10px;
}

#content ul#media-package img {
border:1px solid #666;
padding:3px;
vertical-align:middle;
}

#content ul#relatedposts{margin:10px 0 10px 20px;}

#content ul#relatedposts li {
line-height:1.6em;
list-style-type:none;
padding-left:30px;
background:url(../images/bg_related.gif) no-repeat center left;
}

#content ul#relatedposts li.audio {
background-image:url(../images/bg_podcast.gif);
}

#content ul#relatedposts li.video {
background-image:url(../images/bg_video.gif);
}

#content ul#relatedposts li.multimedia {
background-image:url(../images/bg_media_package.gif);
}
