#secHeader span { z-index: -1; }
#secHeader h2 { 
color: #fff; 
position: absolute;
bottom:0;
left: 0;
padding: 15px;
width: 225px;
}

#secHeader h2 a {
color:#fff;
}

.date {
background:none;
border-top:none;
padding:0;
margin:0;
border-bottom:1px solid #ddd;
font-size:11px;
margin:7px 13px 13px 13px;
padding-bottom:6px;
width:484px;
}